includeConfig 'configuration/base.config'

external_config_version = 'main'


profiles {

  docker {
    docker {
      enabled = true
      fixOwnership = true
    }
  }

}


trace {
  enabled = true
  overwrite = true
  // Dont use timestamp - we cannot get it in the onComplete handler,
  // where we somehow will have to parse this file
  file = "execution_trace.txt"
  fields = 'task_id,hash,native_id,name,tag,status,exit,submit,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar'
}

manifest {
  name = 'lehtiolab/nf-diann'
  author = 'Jorrit Boekel'
  homePage = 'https://github.com/lehtiolab/nf-diann'
  description = 'DIA-NN pipeline'
  nextflowVersion = '>=26.04.1'
  version = '0.1'
}
