params {
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h

  test = false

  outdir = 'output'

  raw = false
  mzml = false
  library = false
  filters = false
  options = false
  psmconf = 0.01
  pepconf = 0.01

  // DIANN
  ms1acc = 10 // maybe set to 20 for TIMS
  ms2acc = 10
  window = 8
  varmods = 'UniMod:35,15.994915,M' // add more with separator ;
  fixmods = 'UniMod:4,57.021464,C' // add more with separator ;
  maxvarmods = 1
  miscleav = 2

  // Per-file inputs FIXME better names!
  create_lib = false
  train_quantums = false
  searchbatch = false
  quantfile = false

  // Infra
  batchsize = 0 // 0: all files in same batch
  quantdir = false
}


includeConfig 'configuration/base.config'

external_config_version = 'main'


profiles {

  docker {
    docker {
      enabled = true
      fixOwnership = true
    }
  }

}



manifest {
  name = 'lehtiolab/nf-diann'
  author = 'Jorrit Boekel'
  homePage = 'https://github.com/lehtiolab/nf-diann'
  description = 'DIA-NN pipeline'
  nextflowVersion = '==25.04.7'
  version = '0.1'
}
